<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desktop Module</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='desktopStyle.css') }}">
</head>
    <body>
        <div class = "desktop">
            <!-- Email Icon -->
            <div class = "icon email"></div>
            <!-- Internet Icon-->
            <div class = "icon internet"></div>
        </div>

        <!-- Bottom Taskbar -->
        <div class = "taskbar">
            <div class = "taskbar-left">
                <div class = "menuIcon"></div>
                <div class = "searchIcon"></div>
            </div>

            <div class = "taskbar-right">
                <div class = "cornerIcon"></div>
            </div>
        </div>

        <!--Email Popup-->
        <div class = "popup" id = "emailWindow">
            <div class = "popup-header">Email
            <span class = "popup-close">X</span>
            </div>

            <div class = "popup-body">
                <div id = "emailContent" class = "email-overlay">
                    Loading...
                </div>

                <!-- REAL / FAKE BUTTONS (added below overlay box) -->
                <div id="emailButtons" class="rf-container" style="display:none;">
                    <button id="realBtn" class="rf-btn real">REAL</button>
                    <button id="fakeBtn" class="rf-btn fake">FAKE</button>
                </div>

                <!-- Feedback Area -->
                <div id = "emailFeedback" class = "feedback-box" style = "display:none;"></div>
            </div>
        </div>

        <!--Internet Popup-->
        <div class = "popup" id = "internetWindow">
            <div class = "popup-header">Internet
            <span class = "popup-close">X</span>
            </div>
            <div class = "popup-body">Blank window for now</div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>